@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
    background-color: #eee;
    padding: 0px;
    margin: 0;
}
h1,
h2,
p,
ul,
li {
    font-family: sans-serif;
}
ul.header {
    
    list-style-type: none;
    margin: 0;
    position: static;
    width: 100%;
    text-align: center;
}
ul.header {
    background-color: #fff;
    padding: 0;
}
ul.header li a {
    z-index: 5;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}
.content {
    background-color: #eee;
    padding: 20px;
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}
.active {
    color: #c62034;
}
a {
    width: 100px;
    height: 40px;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000;
}
a:hover {
    color: #c62034;
}
a:active {
    color: #c62034;
}

.heading {
    position: fixed;
    height: 100px;
    background-color: #ffffff;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    border-bottom: 2px solid #ddd;
    color: #1b1b1b;
}

.header-left {
    float: right;
    position: fixed;
    top: 0px;
    right: 50%;
    margin-right: 150px;
    width: 300px;
    height: 100px;
    padding: 0px;
}

.header-right {
    float: left;
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: 150px;
    width: 300px;
    height: 100px;
}

.nav-center {
    top: 0px;
    font-family: "Oswald", sans-serif;
    position: fixed;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.nav-sub {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.nav-item {
    width: 120px;
    height: 50px;
    font-weight: 400;
    text-align: center;
    display: inline;
    text-align: center;
}

.sideBar {
    position: fixed;
    top: 12vh;
    width: 20vw;
    height: 88vh;
    background-color: white;
}

