.preference-ABP {
    color: #ffffff;
    background-color: purple;
    border-style: none;
}

.preference-Gluten {
    color: #ffffff;
    background-color: burlywood;
    border-style: none;
}

.preference-Poultry {
    color: #ffffff;
    background-color: darkred;
    border-style: none;
}

.preference-Wheat {
    color: #ffffff;
    background-color: chocolate;
    border-style: none;
}

.preference-Beef {
    color: #ffffff;
    background-color: darkred;
    border-style: none;
}

.preference-Milk {
    color: #ffffff;
    background-color: darkblue;
    border-style: none;
}

.preference-Eggs {
    color: #ffffff;
    background-color: orange;
    border-style: none;
}

.preference-Soy {
    color: #ffffff;
    background-color: darkcyan;
    border-style: none;
}

.preference-Pork {
    color: #ffffff;
    background-color: indianred;
    border-style: none;
}

.preference-Fish {
    color: #ffffff;
    background-color: cadetblue;
    border-style: none;
}

.preference-PWN {
    color: #ffffff;
    background-color: saddlebrown;
    border-style: none;
}

.preference-Vegetarian {
    color: #ffffff;
    background-color: green;
    border-style: none;
}

.preference-Vegan {
    color: #ffffff;
    background-color: darkgreen;
    border-style: none;
}
